<!DOCTYPE html>
<html>
  <head>
    <title>Price Page</title>

    <script type='application/javascript' src='https://l2.io/ip.js?var=userip'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>

    <script>
      var loadDatetime;
      var userId;

      $(function() {
        'use strict';

        // Define globally if it does not already exist
        if(typeof(UserAccess) === 'undefined') {
          window.UserAccess = define_library();
        } else {
          console.log("UserAccess already defined.");
        }

        loadDatetime = new Date().toISOString();
        userId = CryptoJS.SHA256(userip);

        $('#token').val(userId);

        UserAccess.set();
      });
    </script>
  </head>

  <body>
    <div class="wrapper">
      <h1>This is the price page!</h1>
      <br/>

      <a href="/statics/home">Let's go to the Home Page</a>
      <br/>
      <a href="/users/new">Let's go to the Contact Page</a>
      <br/>
      <!-- <a href="javascript:void(0);" onclick="UserAccess.set();">Register Info</a> -->
    </div>
  </body>
</html>
